<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/addproduct.css">
</head>
<body>
    <h1>ADD PRODUCT </h1>
    <div class="container">
        <div class="main">
            <form action="/addProduct" method="post" enctype="multipart/form-data">
                <div class="container2">
                <label for="image">Image</label>
                <input type="file" accept="image/*" placeholder="Product image" id="image" name="image" required >
                
                <label for="name" id="name" >Name</label>
                <input type="text" placeholder="Product name" id="name" name="name" required >
                
                <label for="price">price</label>
                <input type="number" placeholder="product price" id="price" name="price" required >
            
                <label for="description">Description</label><br>
                <textarea placeholder="Product Discription" name="description" id="description" cols="50" rows="4"></textarea>

                <button type="submit">Add</button>
                </div>
                <!-- <form action=""></form> -->
            </form>
        </div>
    </div>
    
</body>
</html>